@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  min-height: calc(100vh - 80px); /* Sesuaikan tinggi header/footer */
}

/* global.css */
.table-wrapper {
  @apply w-full overflow-x-auto;
}

.table-inner {
  @apply min-w-[1200px];
}
